{% extends "HTML/template.html" %}
{% block title %}Inserir{% endblock title %}
{% block content %}
<div class="mb-4">
<h1>Inserir Nota</h1>
<a href="/notas" class="btn btn-dark">Lista</a>
</div>
<form method="post">
    {% csrf_token %}

      <select class="form-select" name="disciplina" id="disciplina">
        <option selected>Selecione a Disciplina</option>
        {% for disciplina in disciplinas %}
        <option value="{{ disciplina.id }}">{{disciplina.nome}}</option>
        {% endfor %}
      </select>

      <div class="mb-3">
        <label for="nota" class="form-label">Nota</label>
        <input type="number" class="form-control" id="nota" name="nota">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}